################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rollbard.Library/bin/Debug
/Rollbard.Library.Tests/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output
/Rollbard.Library.Tests/obj/Debug/net8.0/Rollbard.Library.Tests.AssemblyInfo.cs
/Rollbard.Library.Tests/obj/Debug/net8.0/Rollbard.Library.Tests.AssemblyInfoInputs.cache
/Rollbard.Library.Tests/obj/Debug/net8.0/Rollbard.Library.Tests.assets.cache
/Rollbard.Library.Tests/obj/Debug/net8.0/Rollbard.Library.Tests.csproj.AssemblyReference.cache
/Rollbard.Library.Tests/obj/Debug/net8.0/Rollbard.Library.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Rollbard.Library.Tests/obj/Debug/net8.0/Rollbard.Library.Tests.GlobalUsings.g.cs
/Rollbard.Library.Tests/obj/project.assets.json
/Rollbard.Library.Tests/obj/project.nuget.cache
/Rollbard.Library.Tests/obj/Rollbard.Library.Tests.csproj.nuget.dgspec.json
/Rollbard.Library.Tests/obj/Rollbard.Library.Tests.csproj.nuget.g.props
/Rollbard.Library.Tests/bin/Debug/net10.0
/Rollbard.Library.Tests/obj/Debug/net10.0
