################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rollbard.Library/bin/Debug
/Rollbard.Library.Tests/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output
